S3method('+',freqdom)
S3method('+',timedom)
S3method('-',freqdom)
S3method('-',timedom)
S3method(plot,freqdom)
S3method(rev,freqdom)
S3method(rev,timedom)
export("%*%")
export("%c%")
export("%x%")
export(MSE)
export(cov.structure)
export(dprcomp)
export(filter.process)
export(fourier.transform)
export(freqdom)
export(freqdom.eigen)
export(freqdom.inverse)
export(freqdom.kronecker)
export(freqdom.product)
export(freqdom.ratio)
export(freqdom.transpose)
export(invfourier)
export(is.freqdom)
export(is.timedom)
export(lagged.cov)
export(lagreg.est)
export(linproc)
export(norm.spec)
export(print.freqdom)
export(print.timedom)
export(pseudoinverse)
export(rar)
export(rbb)
export(rbm)
export(reg.dim.est)
export(reg.est)
export(reglag.boot)
export(reglag.significance)
export(rma)
export(rma.proc)
export(speclagreg)
export(speclagreg.K)
export(spectral.density)
export(summary.freqdom)
export(summary.timedom)
export(t.freqdom)
export(t.timedom)
export(timedom)
export(timedom.norms)
export(timedom.trunc)
